@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}


:root{
	--bg-color-1: #222;
	--bg-color-2: #00c16e;
    --bg-color-3: #f9f9f9;


	--text-color-1: #404044;
    --text-color-2: #707070;
	
}

.navbar-toggler-icon{
    background-color: red !important;
}

.container{
    width: 1140px;
    height:auto;
}
header{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    /* height: 100px; */
    background-color:#fff;
}
.navbar-brand{
    font-size: 30px !important;
    color: #404044 !important;
    font-weight: 500 !important;
}
.navbar-brand i{
    font-size: 25px;
    padding: 10px;
    color:mediumslateblue !important;
}
.nav-item a{
    color: #707070!important;
    font-size: 16px !important;
    margin: 5px;
    font-weight: 400;
}

.nav-item a:hover{
    color: #673ab7 !important;  
}
navbar-toggler{
   
    cursor: pointer;
    color: #e67e22;
    font-size: 35px;
    padding-top: 20px;
    display: none;
}
#banner{
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner1.jpg);
}
.overlay{
        width: 100%;
        height: 100vh;
        background-color: rgba(103, 58, 183, 0.8);
}
.banner-box{
    padding-top: 180px;
    width: 70% !important;
    margin-right: 0 !important;
    margin-left: 20%;
}

.banner-box span{
    font-size: 16px !important;
    font-weight: 900;
    color: #ffff !important;
}
.banner-box h1{
   
    font-size: 80px !important;
    line-height: 70px;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.35)  !important;
    font-weight: 900;
    color: #ffff !important;
    font-family: 'Poppins', sans-serif;
}

.banner-box p{
    width: 85%;
    font-weight: 400;
    color: #ffff !important;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.discover-btn{
    width: 200px;
    height: 62px;
    background-color: var(--bg-color-2);
    border: 2px solid var(--bg-color-2);
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    transition: all 0.7s;
}
.discover-btn:hover{
    background-color: #198754;
    border: 2px solid #198754;
}
.get-btn{
    width: 200px;
    height: 62px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
   transition: all 0.7s;
}
.get-btn:hover{
    background-color: #fff;
    color: var(--text-color-1);
}
#middle1{
    padding-top: 70px;
    width: 100%;
    height: auto;
}


.image_box img{
    height: 600px;
    width: 100%;;
}
.text-box{
    padding-top: 50px;
}
.text-box h2{
    font-size: 18px !important;
    color: #707070;
}

.text-box h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px !important;
    font-weight: 800;
    color: rgba(16, 10, 10, 0.697);
    padding-bottom: 30px;
    margin: 0 !important;
    text-align: left;
}
.text-box p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}
.text-box h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}

.read-btn{
    width: 200px !important;
    height: 62px;
    background-color: var(--bg-color-2);
    border: 2px solid var(--bg-color-2);
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    transition: all 0.7s;
    margin-top: 40px;
}
.read-btn:hover{
    background-color: #198754;
    border: 2px solid #198754;
}
#middle2{
    padding-top: 110px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-3);
}
h3{
    margin:20%;
    font-size: 40px !important;
    color: #404044;
    text-align: center;
    font-weight: 900 !important;
    padding-bottom: 50px;
}
.mid2-text{
    background-color: #fff;
    border-radius: 8px;
    height: auto;
    padding: 20px;
    transition: all 0.7s;
}
.mid2-text i{
    font-size:45px;
    padding: 20px;
    color: rgba(104, 58, 183, 0.933);
}
.mid2-text h4{
    font-size: 22px !important;
    padding: 10px;
    color: #404044;
}
.mid2-text p{
    font-size: 17px !important;
    font-weight: 400;
    line-height: 1.7 !important;
    padding: 10px;
    color:var(--text-color-2);
    font-family: 'Montserrat', sans-serif;
}

#middle3{
    padding-top: 70px;
    width: 100%;
    height: 100vh;
}

.mid3-text{
    padding-top: 130px; 
  
}
.mid3-img img{
    padding-top: 90px; 
    height:auto;
    width:500px;
    /* margin-right: 20% !important; */
}

.mid3-text h4{
    font-size: 18px !important;
    color: #707070;
}
.mid3-text h2{
    font-size: 45px !important;
    font-weight: 800;
    color: #404044;
    font-family: 'Poppins', sans-serif;
    
}
.mid3-text p{
    font-size: 17px !important;
    font-weight: 400;
    line-height: 1.7 !important;
    padding: 10px;
    color:var(--text-color-2);
    font-family: 'Montserrat', sans-serif;
}

.nested-box i{
    font-size:35px;
    padding: 10px;
    color: rgba(104, 58, 183, 0.933);

}
.nested-box a{
    
    color: #404044;
    font-size: 22px;
    font-weight: 500;
}

#count{
    margin-top: 70px;
    width: 100%;
    height: 300px;
    background-image: url(../images/blog-banner.jpg);
}
.overlay-count{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
}
.count-box{
    padding-top: 80px;
}

.count-box i{
    font-size: 35px;
    color: rgba(104, 58, 183, 0.933);
    margin-right: 10px;
}
.count-box span{
    font-size: 45px;
    font-weight: 900;
    color: #ffffff;
}
.count-box h5{
    font-size: 20px;
    font-weight: 500;
    color: #aab2b9;
}





#testimonials{
    padding-top: 70px;
    width: 100%;
    height: 70vh;
    
}
.test-textbox h4{
    font-size: 18px !important;
    color: #707070;
    text-align: center;
    /* padding-bottom: 20px; */
}
.test-textbox h6{
    font-size: 40px !important;
    font-weight: 800;
    color: #404044;
    text-align: center;
    padding-bottom: 25px;
}
.rounded-circle{
    height: 250px;
}
.carousel-caption { 
    margin-left: 5%;
    color: #222 !important;
    top: 5%;  
    left: 20% !important;
    
}
.carousel-item{
   padding-top: 20px; 
 
   
}


.carousel-caption p{
    width: 90%;
    text-align: left;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    margin-bottom: 0 !important;
}
.carousel-caption h5{
   
    padding-top: 30px;
    text-align: left;
    font-size: 30px;
}
.carousel-caption h6{
    text-align: left;
    font-size: 20px !important;
    color: #707070;
    font-weight: 300;
    padding-bottom: 20px;
   
}

.card img:hover{
    transform: translate(1.1);
}

.carousel-indicators .active{
    height: 50px !important;
    width: 10px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 11px;
    border-radius: 20px;
    background-color: #673ab7 !important;
}
.carousel-indicators{
    top: 10% ;
    left: 85% !important;
    bottom: 40% !important;
    flex-direction: column;
    height: 150px; 
    /* margin-left: 0 !important; */
}
.carousel-indicators li{
    height: 10px !important;
    width: 10px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #707070 !important;
   
}

#blog{
    padding-top: 70px;
    padding-bottom: 90px !important;
    width: 100%;
    height: auto;
    background-color: var(--bg-color-3);
}
.card-footer{
    background-color: #fff !important;
}
.card-title{
    padding-bottom: 20px;
}
.row{
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
}

.card-img{
    overflow:hidden;
    padding: 0 !important;
    position: relative;
}
.card-img img{
    width: 100% !important;
    transition: all 0.7s;
}
#blog .card:hover .card-img img{
    transform: scale(1.1) !important;
}

.date{
    position: absolute;
    background-color: #00c16e;
    right: 0 !important;
    bottom: 0 !important;
}
.date p{
    font-size: 15px;
    color: #fff;
    padding: 5px 15px;
    font-weight: 600;
    margin-bottom: 0 !important;
    
}
.card-body h4{
    color: #707070 !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px !important;
    font-size: 17px !important;
}
.card-body p{
    color: #404044 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    font-weight: 600 !important;
    margin-bottom: 0 !important;
}
.card-body p:hover{
    color: #673ab7 !important;
    
}
.card-body a{
    color: #ffffff !important;
}


#middle-4{
    padding-bottom: 30px;
    padding-top: 40px;
    width: 100%;
    height: auto !important;;
    background-color: rgba(104, 58, 183, 0.956);
}
.mid4-textbox{
    float: left;
}
.mid4-contact{
    float: right;
    font-weight: 700 !important;
}
.quote-btn{
    width: 200px !important;
    height: 62px;
    background-color: rgba(104, 58, 183, 0.956);
    border: 2px solid ;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    transition: all 0.7s;
    margin-top: 40px;
    margin-left: 20px;
}
.quote-btn:hover{
    background-color: #fff;
    color: #707070;
}
.mid4-textbox h4{
    color:#fff;
    font-size:30px;
    font-style: italic;
    font-weight: 600;
    font-family: initial;
}
.mid4-textbox h2{
    color:#fff !important;
    font-size: 38px !important;
    line-height: 50px !important;
    font-weight: 900 !important;
    font-family: 'Poppins', sans-serif !important; 
}
.mid4-contact i,span{
    color:#fff;
    font-size: 20px;
    
}
#contact {
    width: 100%;
    height: auto;
    background-color: #26243c;
    border-bottom: 1px solid #ababab26;
  }
  
  
 
  .con-box2 {
    padding-top: 30px;
    color: #ababab !important;
    font-family: 'Montserrat', sans-serif;
    
  }
  .con-box2 h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    
  }
  .con-box2 li {
    padding-bottom: 15px;
   
  }
  .con-box2 a {
    color: #ababab;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  .con-box2 h4{
    padding-top: 20px;
    color: #ababab !important;
    font-size: 18px;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
  }
  .input-group>.form-control{
    margin-left: 0 !important;
    height: 50px !important;
    border-radius: 5px !important; 
  }
  .form-control{
    position: relative;
  }
  .btn-success {
    background-color: #673ab7 !important;
    border-color: transparent !important;
    height: 50px;
    width: 50px !important;
    border-radius:0px 5px 5px 0px !important; 
    position: absolute;
    right: 0;
  }
 
  footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #26243c;
  }
  footer h4 {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #ababab;
  }
  footer span{
    font-size:15px ;
  }
